{deps, [
    grisp,
    {epmd, {git, "https://github.com/erlang/epmd", {ref, "4d1a59"}}}
]}.

{erl_opts, [debug_info]}.

{plugins, [rebar3_hex, rebar3_grisp]}.

{grisp, [
    {otp, [
        {version, "25.0.3"}
    ]},
    {deploy, [
        {destination, "./image"}
    ]}
]}.

{shell, [{apps, []}]}.

{relx, [
    {release, {erlgame_grisp2, "0.1.0"}, [{epmd, none}, erlgame_grisp2]}
]}.
